h1{
    background-color: blue;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: oblique;
    float: inline-end;
    flood-color: aqua;
}
header{
    color: #592121;
    display: flex;
    justify-content: center;
}
@media screen {
    display: block;
    animation: :scope;
   animation-timing-function: 5s;
}
ul{
    color: chartreuse;
    margin-left: 50%;
}